/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: black; }

.header .logo {
  display: flex;
  width: 30%;
  height: 200px;
  align-items: center;
  justify-content: center; }

.header .header-nav, .gallery-header .gallery-nav, .gallery-header .search {
  width: 60%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .header-nav ul, .gallery-header .gallery-nav ul, .gallery-header .search ul {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header .header-nav li, .gallery-header .gallery-nav li, .gallery-header .search li {
    display: inline; }
  .header .header-nav a, .gallery-header .gallery-nav a, .gallery-header .search a {
    text-decoration: none;
    font-family: Dosis;
    font-size: 20px;
    font-weight: normal;
    color: white; }
    .header .header-nav a:hover, .gallery-header .gallery-nav a:hover, .gallery-header .search a:hover {
      color: #509cbc; }

.hero {
  background-image: url("../img/2bjorks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center; }
  .hero .hero-banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 85px; }
    .hero .hero-banner .first-line {
      font-family: Dosis;
      font-size: 25px;
      font-weight: normal;
      color: white;
      letter-spacing: 2px;
      margin-bottom: 10px; }
    .hero .hero-banner .separator-line {
      margin: 15px 0px;
      width: 250px;
      background: white;
      height: 5px; }
    .hero .hero-banner .second-line {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .hero .hero-banner .enter {
      color: white;
      font-family: Dosis;
      font-size: 20px;
      font-weight: normal;
      color: white;
      text-transform: uppercase;
      display: flex;
      height: 222px;
      width: 300px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 20px; }
      .hero .hero-banner .enter a {
        text-decoration: none;
        color: white; }
        .hero .hero-banner .enter a:hover {
          color: #509cbc; }

.header {
  height: 200px;
  display: flex;
  background: black; }

.gallery-header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background: #275366; }
  .gallery-header .gallery-nav {
    height: 100px; }
  .gallery-header .search {
    height: 100px;
    color: white;
    font-family: Dosis;
    font-size: 20px;
    font-weight: normal;
    color: white; }
    .gallery-header .search p {
      padding-right: 10px; }

/*# sourceMappingURL=main.css.map */
