  .header {
  height: 200px;
  display: flex;
  background: black;
  .logo {
    @extend %non-nav-header;
  }
  .header-nav {
    @extend %nav-header;
  }
}

.gallery-header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  background: darken($nav-blue, 25%);
  .gallery-nav {
    height: 100px;
    @extend %nav-header;
  }
  .search {
    height: 100px;
    color: white;
    @extend %nav-header;
    @include text(Dosis, 20px, normal, white);
    p {
      padding-right: 10px;
    }
  }
}
