  .header {
  height: 200px;
  display: flex;
  background: black;
  .logo {
    @extend %non-nav-header;
  }
  .header-nav {
    @extend %nav-header;
  }
}

.gallery-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: darken($nav-blue, 25%);
  .gallery-nav {
    height: 100px;

    @extend %nav-header;
    ul {
      justify-content: space-around;
    }
    a {
      @include text(Roboto, 18px, normal, white);
    }
  }
  .search {
    height: 100px;
    @extend %non-nav-header;
    @include text(Roboto, 18px, normal, white);
    p {
      padding-right: 10px;
      text-decoration: none;
      &:hover {
        color: $nav-blue;
      }
    }
  }
}
