nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 100%;
  font-weight: bold;
  border: 1px solid white;

  ul {
    list-style: none;
  }

  li {
    color: white;
  }
}
