header {
  
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: auto;
  padding: 0;
  margin: 0 auto;
  border: 1px solid white;
}

header {
  @include backgroundImg("../img/kaerMorhen.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
  margin: $zero;
  padding: $zero;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
