%navvy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1100px;
}


// .navbar {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   height: 200px;
//   width: 100%;
//   border: 1px solid white;
